[submodule "modules/sturmint"]
	path = modules/sturmint
	url = ssh://gitte@ccsvn.iwr.uni-heidelberg.de:42022/sturmint.git
[submodule "modules/linalgwrap"]
	path = modules/linalgwrap
	url = git@github.com:linalgwrap/linalgwrap.git
[submodule "modules/gscf"]
	path = modules/gscf
	url = git@github.com:molsturm/gscf.git
[submodule "modules/gint"]
	path = modules/gint
	url = ssh://gitte@ccsvn.iwr.uni-heidelberg.de:42022/gint.git
[submodule "modules/krims"]
	path = modules/krims
	url = ssh://git@github.com/linalgwrap/krims
[submodule "modules/rapidcheck"]
	path = modules/rapidcheck
	url = https://github.com/emil-e/rapidcheck
