[submodule "modules/gscf"]
	path = modules/gscf
	url = https://github.com/molsturm/gscf
[submodule "modules/gint"]
	path = modules/gint
	url = https://github.com/molsturm/gint
[submodule "modules/krims"]
	path = modules/krims
	url = https://github.com/lazyten/krims
[submodule "modules/rapidcheck"]
	path = modules/rapidcheck
	url = https://github.com/emil-e/rapidcheck
[submodule "modules/lazyten"]
	path = modules/lazyten
	url = https://github.com/lazyten/lazyten
